<a href="https://colab.research.google.com/github/innosevda/Data-Science-CRN-20018/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is "+ name + ". Your age is " + age + ".")

What is your name? Sevda
What is your age? 22
Your name is Sevda. Your age is 22.

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a == b:
  print("a and b are equal.")
else:
  print("a and b are not equal.")

a and b are not equal.

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if a > b:
  print("a is greater than b.")
elif a == b:
  print("a and b are equal.")
else:
  print("a is less than b.")

a is less than b.

In [4]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(5):
  print(k+1)

1
2
3
4
5

In [5]:
#Q5-Using while loop, print 5,4,3,2,1

d = 5
while d>0:
  print(d)
  d-=1

5
4
3
2
1

In [6]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

d = 10
while d>=0:
  if d != 8:
    print(d)
  d-=2

10
6
4
2
0

In [7]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(x):
  return 2025 - x

print(age(1944))

81

In [8]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y


arithmetic.division(9,2)

4.5

In [9]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def f(n):
  sum = 0
  for i in range(n+1):
    sum = sum + i
  return sum

print(f(4))

10

In [10]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

import random

l = []

for i in range(10):
  l.append(random.randint(0,1))

print(l[:3])

[0, 1, 1]

In [11]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

for i in range(1, n+1):
  if i%3==0:
    print(i)

3
6
9
12
15